<%

procedure ||= Procedure.new
item ||= Procedures::Item.new
procedures_status_id ||= nil
turbo_frame_key ||= nil

%>

<% if procedure.resources_type_projects? && !procedure.model %>
  <%= render 'shared/form-errors', item: item %>

  <%= form_tag procedures_add_item_action_path(id: procedure), class: 'row', data: { controller: 'form-loading' } do %>
    <% if procedures_status_id %>
      <input type="hidden" name="procedures_status_id" value="<%= procedures_status_id %>">
    <% end %>

    <% if turbo_frame_key %>
      <input type="hidden" name="turbo_frame_key" value="<%= turbo_frame_key %>">
    <% end %>

    <div class="col col-12 mb-3">
      <label for="resource_id" class="form-label">Progetto</label>
      <%= select_tag 'resource_id', options_for_select([['Progetto', '']] + Project.not_archived.order(year: :asc, name: :asc).map { |u| [u.name, u.id] }), class: 'form-control' %>
    </div>

    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary btn-form-submit" data-form-loading-target="submit">Conferma</button>
    </div>
  <% end %>
<% else %>
<div class="alert alert-danger" role="alert">
  Questa funzionalità non è disponibile.
</div>
<% end %>