<%= render 'shared/page-header', title: 'Tools' %>

<%= render 'shared/page-grid' do %>

  <%= render 'shared/page-grid-item' do %>

    <div class="card w-100">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">Controllo progetti su board</h5>
          <p class="card-text">Visualizza i progetti senza procedure associate.</p>
        </div>
        <a href="<%= tools_projects_without_procedures_path %>" class="card-link mt-3" data-turbo-frame="_top">Visualizza</a>
      </div>
    </div>

  <% end %>

  <%= render 'shared/page-grid-item' do %>

    <div class="card w-100">
      <div class="card-body d-flex flex-column justify-content-between">
        <div>
          <h5 class="card-title">Report attività svolte</h5>
          <p class="card-text">Visualizza il report delle attività svolte per periodo.</p>
        </div>
        <a href="<%= tools_projects_tasks_tracking_path %>" class="card-link mt-3" data-turbo-frame="_top">Visualizza</a>
      </div>
    </div>

  <% end %>

<% end %>

