<%

project ||= Project.new
time_spent = project.cached_time_spent
percentage_budget_used = project.cached_percentage_budget_used
percentage_budget_used_bg = 'success'
percentage_budget_used_bg = 'warning' if percentage_budget_used > 50
percentage_budget_used_bg = 'danger' if percentage_budget_used > 75

badge_type = project.color_type
badge_type = 'primary' if badge_type.blank?

%>

<% if project.budget_management && percentage_budget_used.positive? %>
<div
  class="progress mb-3 bg-<%= badge_type %>"
  role="progressbar"
  data-controller="tooltip"
  data-tooltip="<%= percentage_budget_used %>% del budget utilizzato"
>
  <div class="progress-bar progress-bar-striped bg-<%= percentage_budget_used_bg %>" style="width: <%= percentage_budget_used %>%"></div>
</div>
<% end %>

<% if project.cached_projects_members_count.positive? %>
  <span class="badge bg-<%= badge_type %>"><i class="bi bi-people-fill"></i> <%= project.cached_projects_members_count %> persone coinvolte</span>
<% end %>

<% if time_spent.positive? %>
  <span class="badge bg-<%= badge_type %>"><i class="bi bi-hourglass-split"></i> <%= track_time(time_spent) %></span>
<% end %>

<% if project.slack_channel_id %>
  <a class="badge h-bg-slack" href="https://slack.com/app_redirect?channel=<%= project.slack_channel_id %>" target="_blank">💬 Vai al canale Slack</a>
<% end %>

