<%

date ||= Date.today
tasks ||= []
turbo_frame_key = "tasks-calendar-status-#{date.strftime("%Y-%m-%d")}"

time_estimate_sum = tasks.sum(&:time_estimate)
time_spent_sum = tasks.sum(&:time_spent)

%>

<%= turbo_frame_tag turbo_frame_key do %>
  <div class="c-kanban__status card d-flex flex-direction-column justify-content-between me-3">
    <div class="c-kanban__status-header card-header d-flex align-items-center justify-content-between border-bottom-0 rounded-bottom">
      <div class="h-text-oneline">
        <%= raw date.strftime("<b>%a</b> <small class='#{date == Date.today ? 'text-dark fw-bold' : 'text-muted'}'>%d/%m/%Y</small>") %>
      </div>
      <div class="ms-3 d-flex align-items-center gap-1">
        <% if date <= Date.today %>
          <span
            class="badge rounded-pill text-white bg-primary"
            style="font-size: 10px;"
            data-controller="tooltip"
            data-tooltip="Tempo consumato"
          >
            <i class="bi bi-hourglass-split"></i>
            <%= track_time time_spent_sum %>
          </span>
        <% end %>
        <span
          class="badge rounded-pill text-white bg-<%= tasks_time_estimate_color(tasks) %>"
          style="font-size: 10px;"
          data-controller="tooltip"
          data-tooltip="Tempo stimato"
        >
          <i class="bi bi-alarm-fill"></i>
          <%= track_time time_estimate_sum %>
        </span>
        <span
          class="badge rounded-pill text-white <%= tasks.length.positive? ? 'bg-info' : 'bg-dark' %>"
          style="font-size: 10px;"
        >
          <%= tasks.select(&:completed).length %> / <%= tasks.length %>
        </span>
      </div>
    </div>
    <ul class="list-group list-group-flush h-fullscroll">
      <% if tasks.length.positive? %>
        <% tasks.sort_by { |t| t.title.downcase }.sort_by { |t| t.completed ? 1 : 0 }.each do |task| %>
          <%= render 'tasks/calendar-item', task: task %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>