<%

task ||= Task.new
turbo_frame_key ||= '_top'

%>

<div class="c-card c-card--task card w-100 h-100 bg-<%= task.color_type %>">

  <% if task.project_id %>
    <div class="card-header c-card__project bg-<%= task.color_type %> border-0 d-flex">
      <a class="text-decoration-none text-white h-text-oneline h-tex--underline-hover" data-turbo-frame="_top" href="<%= projects_show_path(task.project_id) %>"><%= task.cached_project_name.truncate(40) %></a>
    </div>
  <% end %>

  <div class="card-body d-flex flex-column justify-content-between">
    <div class="mb-3 d-flex justify-content-between align-items-start">
      <div class="w-100">
        <h5 class="card-title">
          <span class='<%= task.completed ? 'text-decoration-line-through' : '' %>'><%= task.title_with_filtered_long_words %></span>
        </h5>
        <% unless task.subtitle.blank? %>
          <h6 class="card-subtitle mb-2 text-muted"><%= task.subtitle %></h6>
        <% end %>
      </div>
      <div class="ms-4 d-flex">
        <% if task.persisted? && !task.completed && task.accepted %>
          <a
            type="button"
            href="<%= tasks_actions_path(type: 'complete', id: task.id, turbo_frame_key: turbo_frame_key) %>"
            data-turbo-frame="action"
            class="btn btn-success btn-sm border-2"
            data-controller="tooltip"
            data-tooltip="Completa"
            data-user-policies-target="item" data-policy="tasks_complete"
          >
            <i class="bi bi-check-circle-fill"></i>
          </a>
        <% end %>
      </div>
    </div>
    <div>
      <%= render 'tasks/shared/card-content', task: task, hide_project: true %>
    </div>
    <% unless task.description.blank? %>
      <hr>
      <div class="card-text c-card__description"><%= simple_format task.description %></div>
    <% end %>
    <% if !task.tasks_checks.empty? %>
      <hr>
      <%= render 'tasks/shared/checks', task: task, frame_id: SecureRandom.hex(3) %>
    <% elsif !task.tasks_checks_texts.reject { |t| t.empty? }.empty? # HACK: Visualizzo la checlist per la preview del task nella board di un modello %>
      <hr>
      <div class="list-group">
        <% task.tasks_checks_texts.each do |text| %>
          <% next if text.empty? %>
          <a class="list-group-item bg-transparent d-flex align-items-center">
              <i class="bi bi-circle"></i>
              <span class="ms-2 text-truncate"><%= text %></span>
          </a>
        <% end %>
      </div>
    <% end %>
    <hr>
    <div>
      <%= render 'tasks/shared/card-actions', task: task, turbo_frame_key: turbo_frame_key %>
    </div>
  </div>
</div>
