<%

name ||= 'color'
value ||= nil

# Colori predefiniti
colors = [
  { value: '#ff595e', hex: '#ff595e' },
  { value: '#ff924c', hex: '#ff924c' },
  { value: '#ffca3a', hex: '#ffca3a' },
  { value: '#c5ca30', hex: '#c5ca30' },
  { value: '#8ac926', hex: '#8ac926' },
  { value: '#52a675', hex: '#52a675' },
  { value: '#1982c4', hex: '#1982c4' },
  { value: '#4267ac', hex: '#4267ac' },
  { value: '#6a4c93', hex: '#6a4c93' },
  { value: '#b5a6c9', hex: '#b5a6c9' },
]

%>

<div class="c-input-color" data-controller="input-color">
  <!-- Opzione per rimuovere il colore -->
  <div class="c-input-color__option">
    <input type="radio" 
           class="c-input-color__input" 
           id="<%= name %>_none" 
           name="<%= name %>" 
           value="" 
           <%= 'checked' if value.blank? %>
           data-input-color-target="input"
           data-action="change->input-color#updateSelection">
    <label for="<%= name %>_none" class="c-input-color__label c-input-color__label--none">
      <span class="c-input-color__circle c-input-color__circle--none">
        <svg class="c-input-color__icon" viewBox="0 0 24 24" fill="none">
          <path d="M18 6L6 18M6 6l12 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </span>
    </label>
  </div>

  <!-- Colori disponibili -->
  <% colors.each do |color| %>
    <div class="c-input-color__option">
      <input type="radio" 
             class="c-input-color__input" 
             id="<%= name %>_<%= color[:value] %>" 
             name="<%= name %>" 
             value="<%= color[:value] %>" 
             <%= 'checked' if value == color[:value] %>
             data-input-color-target="input"
             data-action="change->input-color#updateSelection">
      <label for="<%= name %>_<%= color[:value] %>" class="c-input-color__label">
        <span class="c-input-color__circle" style="background-color: <%= color[:hex] %>"></span>
      </label>
    </div>
  <% end %>
</div>

