<%

title ||= 'Title'
subtitle ||= nil
back ||= false
render_actions ||= nil

%>

<%= turbo_frame_tag "page-header" do %>
  <div class="mb-4 c-page-header">
    <div class="row justify-content-between align-items-center flex-nowrap pt-3">
      <div class="col d-flex align-items-center h-text-oneline">
        <% if back %>
          <a href="#" class="me-3 fs-5 text-primary" onclick="window.history.back()">
            <i class="bi bi-arrow-left-circle-fill"></i>
          </a>
        <% else %>
          <div class="me-3 fs-5">
            <%= nav_icon(@_navbar) %>
          </div>
        <% end %>
        <div class="c-page-header__intestation">
          <h1 class="c-page-header__title fs-3 mb-0 h-text-oneline"><%= title %></h1>
          <% if subtitle %>
            <h2 class="c-page-header__subtitle text-muted h-text-oneline" style="position: relative;"><%= raw subtitle %></h2>
          <% end %>
        </div>
      </div>
      <% if render_actions %>
        <div class="col col-auto d-flex justify-content-end align-items-center">
          <%= render render_actions %>
        </div>
      <% end %>
    </div>

    <hr/>
  </div>
<% end %>