<%= turbo_frame_tag 'navbar' do %>
  <nav class="navbar shadow fixed-top navbar-expand-lg">
    <div class="container-fluid">
      <div class="navbar-wrapper d-flex flex-wrap <%= @session_user ? 'justify-content-between' : 'justify-content-center' %>">
        <a class="navbar-brand" href="<%= root_path %>" data-turbo="false">
          <%= render 'layouts/application/logo' %>
          <span>MATILDA</span>
        </a>

        <% if @session_user %>
          <div class="d-flex align-items-center">
            <div class="me-2">
              <%= render 'tasks/tracker' %>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="bi bi-list"></i>
            </button>
          </div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="me-auto"></div>
            <ul class="navbar-nav mb-2 mt-3 mt-lg-0 mb-lg-0">
              <%= render 'layouts/application/menu' %>

              <li class="nav-item" data-user-policies-target="item" data-policy="tools" data-policy-hide>
                <a
                  class="nav-link w-100 <%= @_navbar == 'tools' ? 'active' : '' %>"
                  href="<%= tools_path %>"
                  data-turbo-frame="_top"
                  data-controller="tooltip"
                  data-tooltip="Strumenti"
                ><%= nav_icon('tools') %> <span class="d-lg-none ms-2">Strumenti</span></a>
              </li>

              <li class="nav-item" data-user-policies-target="item" data-policy="settings" data-policy-hide>
                <a
                  class="nav-link w-100 <%= @_navbar == 'settings' ? 'active' : '' %>"
                  href="<%= settings_path %>"
                  data-turbo-frame="_top"
                  data-controller="tooltip"
                  data-tooltip="Impostazioni"
                ><%= nav_icon('settings') %> <span class="d-lg-none ms-2">Impostazioni</span></a>
              </li>

              <li class="nav-item">
                <a
                  class="nav-link w-100"
                  href="<%= authentication_logout_path %>"
                  data-turbo="false"
                  data-controller="tooltip"
                  data-tooltip="Logout"
                ><i class="bi bi-door-closed-fill"></i> <span class="d-lg-none ms-2">Logout</span></a>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
<% end %>