<%

folders ||= @global_cache.folders
base_path ||= '#'
active_folder_id ||= nil
show_for ||= nil

# reorder folders to put folders with items_#{show_for}_count <= 0 at the end
if show_for
  folders = folders.partition { |folder| folder["items_#{show_for}_count".to_sym] > 0 }.flatten
end

# reorder folders to put the active folder on top
if active_folder_id
  folders = folders.partition { |folder| folder[:id] == active_folder_id.to_i }.flatten
end

%>

<% if folders.length.positive? %>
  <li><hr class="dropdown-divider"></li>
  <li>
    <ul class="h-list-none" style="max-height: 300px; overflow-y: auto;">
      <% folders.each do |folder| %>
        <li
          class="<%= active_folder_id&.to_i == folder[:id] ? 'pb-2 mb-2 border-bottom' : '' %>"
        >
          <a
            class="dropdown-item <%= active_folder_id&.to_i == folder[:id] ? 'active' : '' %> h-text-oneline"
            href="<%= base_path %>/<%= folder[:id] %>"
            data-turbo-frame="_top"
          >
            <small>
              <i class="bi <%= show_for && folder["items_#{show_for}_count".to_sym] <= 0 ? 'bi-folder' : 'bi-folder-fill' %> me-1"></i>
              <%= folder[:name] %>
            </small>
          </a>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>
<li data-user-policies-target="item" data-policy="folders_create"><hr class="dropdown-divider"></li>
<li data-user-policies-target="item" data-policy="folders_create"><a class="dropdown-item" href="<%= folders_actions_path(type: 'create') %>" data-turbo-frame="action"><i class="bi bi-plus-circle me-2"></i> Nuova cartella</a></li>
