<%= render 'credentials/phrase-checker' do %>

<%= render 'shared/page-header', title: 'Credenziali', subtitle: @folder && "<i class=\"bi bi-folder-fill\"></i> <a class=\"text-muted\" href='#{folders_show_path(@folder)}' data-turbo='false'>#{@folder&.name}</a>", render_actions: 'credentials/index-actions' %>

<%= turbo_frame_tag 'page-main' do %>

  <%= render 'shared/page-preferred',
      query: @credentials_preferred,
      type: 'Credential',
      render_item: 'credentials/shared/card',
      render_item_param: :credential
    %>

  <%= render 'shared/page-index',
      query: @credentials,
      render_item: 'credentials/shared/card',
      render_item_param: :credential,
      search: true
    %>

<% end %>

<% end %>