<%

credential ||= Credential.new

path ||= credential.persisted? ? credentials_edit_action_path(credential) : credentials_create_action_path

%>

<%= render 'shared/form-errors', item: credential %>

<%= form_tag path, class: 'c-modal-form', data: { controller: 'credentials-form form-loading', action: 'credentials-form#onSubmit', credentials_form_phrase_value: Setting.get('credentials_phrase') } do %>
  <div class="c-modal-form__fields row">
    <input type="hidden" name="secure_username" value="<%= credential.secure_username %>" data-credentials-form-target="secureUsername">
    <input type="hidden" name="secure_password" value="<%= credential.secure_password %>" data-credentials-form-target="securePassword">
    <input type="hidden" name="secure_content" value="<%= credential.secure_content %>" data-credentials-form-target="secureContent">

    <div class="col col-12 mb-3">
      <label for="name" class="form-label">Nome</label>
      <input type="text" class="form-control" id="name" name="name" value="<%= credential.name %>" required>
    </div>

    <hr>

    <div class="col col-12 mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="" data-credentials-form-target="username">
    </div>

    <div class="col col-12 mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="text" class="form-control" id="password" name="password" value="" data-credentials-form-target="password">
    </div>

    <div class="col col-12 mb-3">
      <label for="content" class="form-label">Contenuto</label>
      <textarea class="form-control" rows="5" id="content" name="content" value="" data-credentials-form-target="content"></textarea>
    </div>
  </div>

  <div class="c-modal-form__submit">
    <button type="submit" class="btn btn-primary btn-form-submit" data-form-loading-target="submit">Conferma</button>
  </div>
<% end %>
