<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <br><br>
    <a target="_blank" href="https://<%= Setting.get('infos_company_website') || root_url %>"><%= Setting.get('infos_company_name') || 'Matilda' %></a>
    <% if Setting.get('infos_company_vat') %>
      | p.iva: <%= Setting.get('infos_company_vat') %>
    <% end %>
    <% if Setting.get('infos_company_email') %>
      | email: <%= Setting.get('infos_company_email') %>
    <% end %>
    <% if Setting.get('infos_company_pec') %>
      | pec: <%= Setting.get('infos_company_pec') %>
    <% end %>
  </body>
</html>
